<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/coa-pkg/coa-type/list" type="button" class="btn-back btn-img" ng-shortcut="'meta+shift+left'" ng-shortcut-click><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.title}}</b></h1>
                    <p class="subtitle">Coa Type List / {{$ctrl.action}}</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->

    <!-- Page Main Content -->
    <div class="page-main-content form-content type2" style="padding: 0;">
        <form id="form" enctype="multipart-formdata" autocomplete="off">
            <input type="hidden" name="id" ng-modal="$ctrl.coa_type.id" value="{{$ctrl.coa_type.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                                <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active"><a class="filter active" data-target="#category-information" data-toggle="tab" aria-expanded="true" ng-shortcut="'meta+shift+up'" ng-shortcut-click>COA Type</a></li>
                                    <li><a data-target="#sub-category-information" data-toggle="tab" aria-expanded="true" class="filter" ng-shortcut="'meta+shift+down'" ng-shortcut-click>COA Codes</a></li>
                                </ul>
                            </div> 
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="category-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Name<sup class="mandatory">*</sup></label>
                                                <input type="text" name="name" ng-model="$ctrl.coa_type.name" class="form-control" placeholder="Enter Name" autocomplete="off" minlength="3" maxlength="191"/>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Status<sup class="mandatory">*</sup></label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-primary btn-nxt">Next</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->

                            <div class="tab-pane fade" id="sub-category-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="tab-pane-title">COA Type : <span class="color-primary-light">{{$ctrl.coa_type.name}}</span></h6>
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-230">COA Code<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">Description<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">Currency Code</th>
                                                            <th class="width-230">Debit Card proposal</th>
                                                            <th class="width-230">Posting type<sup class="mandatory">*</sup></th>
                                                            <th class="width-60"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="coa_codes_list" ng-repeat="(index, coa_code) in $ctrl.coa_type.coa_codes">
                                                        <input type="hidden" name="coa_codes[{{index}}][id]" value="{{coa_code.id}}">
                                                        <input type="hidden" name="coa_codes[{{index}}][type_id]" value="{{$ctrl.coa_type.id}}">
                                                        <tr>
                                                            <td>
                                                                <input type="text" class="form-control type-sm coa_code_valid" name="coa_codes[{{index}}][code]" ng-model="coa_code.code" placeholder="Enter COA Code" autocomplete="off" minlength="3" maxlength="191" required="required"/>
                                                            </td>
                                                            <td>
                                                               <input type="text" class="form-control type-sm coa_code_name" name="coa_codes[{{index}}][name]" ng-model="coa_code.name" placeholder="Enter Description" autocomplete="off" minlength="3" maxlength="191" required="required"/> 
                                                            </td>
                                                            <td>
                                                                <md-select class="type-sm" ng-model="coa_code.currency_code_id" placeholder="Select Currency Code" md-on-close="clearSearchCurrencyCode()" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchCurrencyCode" type="search" placeholder="Search for a Currency Code.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="i.id" ng-repeat="i in $ctrl.extras.currency_code_list | filter:searchCurrencyCode">{{i.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="coa_codes[{{index}}][currency_code_id]" value="{{coa_code.currency_code_id}}"> 
                                                            </td>
                                                            <td>
                                                               <md-select class="type-sm" ng-model="coa_code.debit_credit_proposal_id" placeholder="Select Debit Card Proposal" md-on-close="clearSearchDebitCardProposal()" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchDebitCardProposal" type="search" placeholder="Search for a Debit Card Proposal.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="i.id" ng-repeat="i in $ctrl.extras.debit_card_proposal_list | filter:searchDebitCardProposal">{{i.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="coa_codes[{{index}}][debit_credit_proposal_id]" value="{{coa_code.debit_credit_proposal_id}}"> 
                                                            </td>
                                                            <td>
                                                               <md-select class="type-sm" ng-model="coa_code.posting_type_id" placeholder="Select Posting type" md-on-close="clearSearchPostingType()" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchPostingType" type="search" placeholder="Search for a Posting type.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="i.id" ng-repeat="i in $ctrl.extras.posting_type_list | filter:searchPostingType">{{i.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="coa_codes[{{index}}][posting_type_id]" value="{{coa_code.posting_type_id}}" class="required"> 
                                                            </td>
                                                            <td>
                                                                <button class="btn-delete" ng-click="$ctrl.removeCoaCode(index, coa_code.id)" type="button">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="6">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewCoaCode()">+ Add COA Code</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">Previous</a>
                                                    <button type="submit" id="submit" class="btn btn-primary" ng-shortcut="'meta+shift+s'" ng-shortcut-click>Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                        <input type="hidden" name="coa_code_removal_ids" id="coa_code_removal_ids" value="">
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->   
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->